{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HongBo with NolBo</title>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="{%static 'css/styles.css' %}" rel="stylesheet" />

</head>
<body>
    <div class="wrap">
        <div class="intro_bg">
            <div class="header" id="link_header">  
            <nav class="navbar">             
                <ul class="navbar_menu">
                    <li><a href="#link_header">HOME</a></li>
                    <li><a href="/hmap">H_MAP</a></li>
                    <li><a href="/statistics">통계서비스</a></li>
                    <li><a href="#link_main_text2">문의게시판</a></li>
                </ul>
            </nav>
            </div>
                <div class="intro_text">
                    <h1>홍보와 놀보</h1>
                    <br>
                    <br>
                    <!-- <h4 class="contents">CREATE BY 3조</h4> -->
                    <a href="/hmap"><button class="button_4">MAP</button></a>
                </div>  
        </div>
        <!-- 이 부분 어떻게 써야할지 고민중 -->
        <!-- <ul class="amount">
            <li>
                <div>
                    <div class="contents1">1</div>
                    <div class="result">2</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">3</div>
                    <div class="result">4</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">5</div>
                    <div class="result">6</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">테스트1</div>
                    <div class="result">테스트2</div>
                </div>
            </li>     
        </ul> -->
        <!-- amount end -->
        <div class="main_text0" id="link_main_text0">
            <h1>업체 선정 (카르셀 부분 적용할것)</h1>
            <div class="contents1">
               H_MAP 이 추천하는 업체에 맡겨보세요
             <ul class="icons">
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon0.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트1</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon1.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트2</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon3.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트3</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
             </ul>  
            </div>
        </div>
        <div class="main_text1" id="link_main_text1">
            <h1>H_MAP를 소개합니다</h1>
            <br>
            <p>H MAP은 무분별한 홍보로 인해 <br> 고통을 받는 모든 스타트업 또는 자영업자 들에게 제공하기 위해서 만들어 졌습니다<br>(홍보가 필요한 모든이에게 H_MAP의 서비스를 이용할 수 있습니다 :)</p>
            <div class="service">
                <div class="contents5">
                    <div class="text_use">
                        <p>서비스 이용방법</p>
                        <br>
                        <p>1. 성별을 설정해주세요.</p>
                        <p>2. 타겟팅에 맞는 나이를 설정해주세요.</p>
                        <p>3. 비즈니스 타입에 맞게 카테고리를 설정해주세요.</p>
                        <p>4. 1,2,3번의 과정을 거친후 CHECK를 클릭해주세요.</p>
                        <p>5. 원하는 타겟팅에 맞는 각 지역별 유동인구 통계를 마크를 통해 확인할 수 있습니다.</p>
                        <p>6. 타겟팅지역을 확인한 후 각자 스타일에 맞춰 홍보를 시작해주세요.</p>
                        <p>7. 당신의 사업이 저희와 함께 좋은 결과를 만든다면 좋겠습니다.</p>
                    </div>
                </div>       
            </div>
        </div>     
        <footer>
            <div>
                에이콘아카데미 <br>
                COPYRIGHT 2022. ALL RIGHT RESERVED.
            </div>
        </footer>
 </div>
</body>
</html>
