{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HongBo with NolBo</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&display=swap" rel="stylesheet">
    <link href="{%static 'css/styles.css' %}" rel="stylesheet" />

</head>
<body>
    <div class="wrap">
        <div class="intro_bg">
            <div class="header" id="link_header">  
            <nav class="navbar">             
                <ul class="navbar_menu">
                    <li><a href="#link_header">HOME</a></li>
                    <li><a href="#link_main_text0">H_MAP</a></li>
                    <li><a href="#link_main_text1">통계서비스</a></li>
                    <li><a href="#link_main_text2">문의게시판</a></li>
                </ul>
            </nav>
            </div>
                <div class="intro_text">
                    <h1>홍보와 놀보</h1>
                    <br>
                    <br>
                    <!-- <h4 class="contents">CREATE BY 3조</h4> -->
                    <button class="button_4">MAP</button>
                </div>  
        </div>
        <!-- 이 부분 어떻게 써야할지 고민중 -->
        <!-- <ul class="amount">
            <li>
                <div>
                    <div class="contents1">1</div>
                    <div class="result">2</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">3</div>
                    <div class="result">4</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">5</div>
                    <div class="result">6</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">테스트1</div>
                    <div class="result">테스트2</div>
                </div>
            </li>     
        </ul> -->
        <!-- amount end -->
        <div class="main_text0" id="link_main_text0">
            <h1>업체 선정 (카르셀 부분 적용할것)</h1>
            <div class="contents1">
               H_MAP 이 추천하는 업체에 맡겨보세요
             <ul class="icons">
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon0.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트1</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon1.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트2</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
                <li>
                    <div class="icon_img">
                        <img src="/static/img/icon3.png" >
                    </div>
                    <div class="contents1_bold">판촉사이트3</div>
                    <div class="contents2">
                        사이트 설명 간단하게 적기
                    </div>
                    <div class="more">
                        MORE
                    </div>
                </li>
             </ul>  
            </div>
        </div>
        <div class="main_text1" id="link_main_text1">
            <h1>SERVICE</h1>
            <div class="service">
                <div class="contents2">
                  사이트 설명 방법 입니다.(수정할거임)
                </div>        
            </div>         
        </div>     
        <footer>
            <div>
                에이콘아카데미 <br>
                COPYRIGHT 2022. ALL RIGHT RESERVED.
            </div>
        </footer>
    </div>
</body>
</html>
